
        body {
            font-family: Arial, sans-serif;
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100vh;
            margin: 0;
            background-color: #f2f2f2;
        }

        .login-form {
            background-color: #fff;
            border-radius: 5px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            padding: 20px;
            width: 300px;
        }

        .login-form h2 {
            margin-bottom: 20px;
            text-align: center;
            font-family: poppins;
        }

        .login-form input[type="text"],
        .login-form input[type="password"] {
            width: 100%;
            padding: 10px;
            margin-bottom: 15px;
            border: 1px solid #ccc;
            border-radius: 5px;
            box-sizing: border-box;
        }

        .login-form button {
            background-color: #4caf50;
            border: none;
            color: white;
            padding: 10px 0;
            width: 100%;
            border-radius: 5px;
            cursor: pointer;
        }

        .login-form button:hover {
            background-color: #451b84;
        }
